* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: rgb(247, 247, 247);
  height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: inherit;
}
