.chat-w {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  margin-top: 10vh;
  background-color: inherit;
}

.chat-show {
  background: linear-gradient(0deg, #7baaf7, #ff4081);
  border-radius: 30px;
  position: relative;
}

.chat-goat {
  position: absolute;
  top: -14%;
  left: 50%;
}

.chat-goat img {
  width: 120px;
  height: auto;
}

.goat2 {
  position: absolute;
  bottom: -10%;
  right: 10%;
  z-index: 3;
}

.goat2 img {
  width: 85px;
  height: auto;
}

.chat-area {
  height: 60vh;
  padding: 3px 3px 50px 3px;
  overflow-y: hidden;
}

.chat-text {
  background-color: #fff;
  color: black;
  border-radius: 27px;
  height: 105%;
  padding: 10px;
  overflow-y: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.chat-text::-webkit-scrollbar {
  width: 5px;
}

.chat-text::-webkit-scrollbar-track {
  background: #fafafa;
  border-radius: 10px;
}

.chat-text::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.chat-blank {
  position: absolute;
  width: calc(100% - 6px);
  height: 10vh;
  background: #ffffff;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  bottom: 1%;
  z-index: 2;
}

.chat-br {
  position: relative;
  padding: 3px;
  background: linear-gradient(0deg, #7baaf7, #ff4081);
  border-radius: 50px;
  display: flex;
  align-items: center;
  z-index: 3;
  width: 100%;
}

.chat-in {
  border: none;
  outline: none;
  padding: 15px 60px 15px 20px;
  border-radius: 50px;
  background-color: white;
  font-size: 16px;
  width: 100%;
}

.chat-in:focus {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.chat-send {
  position: absolute;
  right: 0px;
  border: none;
  background: linear-gradient(0deg, #7baaf7, #ff4081);
  border-radius: 50%;
  width: 52px;
  height: 52px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease 0.1s;
  z-index: 4;
}

.chat-send:active {
  scale: 0.9;
}

.chat-send img {
  width: 20px;
  height: 20px;
}

.message-sent {
  color: #004d00;
  background-color: #d1ffe0;
  align-self: flex-end;
}

.message-received {
  color: #333;
  background-color: #f0f0f0;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-text {
  max-width: 310px;
  word-wrap: break-word;
}

.message-timestamp-sent {
  color: #004d00;
  font-size: 12px;
  margin-left: 10px;
}

.message-timestamp-received {
  color: #333;
  font-size: 12px;
  margin-left: 10px;
}


@media (max-width: 375px) {
  .chat-goat {
    position: absolute;
    top: -15%;
    left: 50%;
  }

  .goat2 {
    bottom: -10%;
    right: 10%;
  }
}
